services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www
    ports:
      - "8010:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel-quiosco
      - DB_USERNAME=root
      - DB_PASSWORD=root
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel-quiosco
    ports:
      - "3310:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: